*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 253, 253);
}

.stopwatch-container{
    text-align: center;
    background-color: rgb(106, 154, 196);
    width: 350px;
    padding: 30px;
    border-radius: 30px 3px;
   color: white;
   box-shadow: 4px 4px 10px black;


}

.heading{
    font-size: 40px;
}

#stopwatch{
    font-size: 47px;
}

button{
    margin:0px 4px;
    font-size: 20px;
    padding: 6px 10px;
    border: none;
    border-radius: 2px;
}

